/* -------- Front page styling -------- */

.frontpage {
  background-image: url("../assets/Background.jpeg");
  min-height: 100vh;
  position: relative;
  background-size: cover;
}

.frontpage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 12rem;
  width: 60%;
}

.frontpage-title {
  text-align: center;
  color: #000;
}

.ctas {
  text-align: center;
}

.cta-main {
  padding: .7rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #fff;
  &&:hover {
    color: #fff;
    background-color: var(--primary-color);
    transform: scale(1.05);
    cursor: pointer;
  }
  &&:active {
    transform: scale(0.8);
  }
}
