
.login-page {
  position: relative; 
  width: 100%;
  height: 100vh; 
  background: linear-gradient(45deg, #C57997, #692D51);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginpage-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #e1bdcb, #984577);
}

.login-text {
  z-index: 1;
  color: white;
  text-align: center; 
}

.logo-and-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.frontpage-title h1 {
  margin: 0;
  font-size: 2rem;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #C57997;
  color: #d1cfcf;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.forgot-password {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
