/* -------- Nav -------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  min-height: 8vh;
  padding: 1.5rem 3rem;
}

.logo {
  display: flex;
  justify-content: center;
  height: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.nav-links li {
  display: inline-block;
  list-style: none;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}

.nav-links li:hover {
  transform: scale(1.1);
}

.socmedia {
  display: flex;
  gap: 2rem;
  transition: all 0.3s ease-in-out;
}

/* -------- Burger menu -------- */

.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  border-radius: 1rem;
  background-color: #000000;
  transition: all 0.5s ease-in;
}

@media screen and (max-width: 1150px) {
  body {
    overflow-x: hidden;
  }
  .burger-menu {
    display: block;
    z-index: 2;
  }
  .navbar {
    padding: 3rem 3rem;
  }

  .nav-links {
    position: fixed;
    font-size: 1.8rem;
    top: 0vh;
    right: 0px;
    height: 100vh;
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.1s step-end;
    z-index: 1;
  }

  .logo {
    z-index: 3;
  }
}

/* -------- Animation ------- */

.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

/* -------- Toggle animation -------- */

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -7px);
}

/* -------- Portrait mode -------- */

@media screen and (max-height: 1150px) and (orientation: portrait) {
  .nav-links {
    font-size: 2.5rem;
    gap: 3rem;
  }
}

@media screen and (max-height: 768px) and (orientation: portrait) {
  .navbar {
    padding: 2rem 2rem;
  }
  .nav-links {
    font-size: 1.4rem;
  }
}

@media screen and (max-height: 568px) and (orientation: portrait) {
  .nav-links {
    font-size: 1rem;
    gap: 2rem;
  }
}

/* ----- Landscape mode ------- */

@media screen and (max-width: 768px) and (orientation: landscape) {
  .nav-links {
    font-size: 1.25rem;
    gap: 2rem;
  }
  .navbar {
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 568px) and (orientation: landscape) {
  .nav-links {
    font-size: 1rem;
    gap: 1.5rem;
  }
}
