.quote-container {
    background-image: url("../assets/Quote_background.jpg");
    background-size: cover;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote-wrapper h2, h3 {
    text-align: center;
    color: white;
}
