/* FrontPageStyles.css */

.settings-container {
  display: flex;
  height: 100vh; /* Set the height of the container to full viewport height */
}

.left-sidebar {
  width: 100px; /* Set the width of the sidebar to 50px */
  background-color: #f2f2f2;
  padding: 10px;
}

.frontpage-text {
  flex: 1; /* Make the content take up the remaining space */
  padding: 20px;
}
.icon-text-pair {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bottom-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto; 
  padding: 10px;
  background-color: #f2f2f2;
}